.container{
    width: calc(200px * 4 + 3em);
    margin: auto
}
.results{
    columns: 4;
    column-gap: 1em;
}
.item{
    margin-bottom: 1em;
}
h1 {
    font-family: initial;
    color: white; 
}
body {
    display :flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: arial;
    text-align: center;
    min-height: 100vh;
    min-width: 370px;
    background-image: linear-gradient(135deg, #00ccff , #9933ff 31%, #e646b6 52%, #fff9aa 77%, #00ff99 , #00ccff);
    background-size: 200%;
}